*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar{
   display: flex;
   align-items: center;
   font-size: 15px;
   background-color: black;
   height: 60px;
   width: 100%;

}

.navbar .list{
   display: flex;
   list-style: none;
   /* justify-content: space-between; */
   gap: 40px;
   padding-left: 60px;

}


.list a{
   text-decoration: none;
   color: white;
}

.list a:hover{
   font-weight: 700;
}

.navbar img{
   height: 30px;
   width: 80px;
   margin: 30px;


}

.navbar .line{
   height: 50px;
   width: 1px;
   background-color: #fff;
   margin-top: 2px;
}

.navbar .nav-btn{
      padding: 8px 20px;
      position: relative;
      left: 720px;
      font-size: 10px;
      font-weight: 600;
      border-radius: 5px;
      background-color: #ba0cc5;
      color: #ffffff;
}

.nav-btn:hover{
   background-color: #ffffff;
   color: #ba0cc5;
}


/* main section */

.main{
   display: flex;
   flex-direction: column;
   align-items: center;
   /* justify-content: center; */
   background-image: url(bg.png);
   background-size: cover;
   background-attachment: fixed;
   height: 91.7vh;
   color: white;
   font-size: 35px;
}

.main .heading{
   margin: 140px 30px 5px;
}

.main .para{
   font-size: 30px;
   font-weight: 500;
   margin-bottom: 50px;
}

.main .main-btn{
   padding: 13px 15px;
   border-radius: 7px;
   background: #ba0cc5;
   color: white;
   border: transparent;
   font-weight: 600;
   font-size: 25px;
}

.main-btn:hover{
   background-color: #ffffff;
   color: #ba0cc5;
}
